<!DOCTYPE html>
<html>
  <head>
    <title>Robot World</title>
    <link href='css/bootstrap.css' rel='stylesheet'>
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>

    <div class='navbar navbar-default'>
      <a href='/' class='navbar-brand'>Welcome to the Robot World!!!</a>
        <ul class='nav navbar-nav navbar-center'>
                <li>
                    <a href="/robots"> View Existing Robots</a>
                </li>
                <li>
                    <a href="/robots/new">Create a New Robot</a>
                </li>
            </ul>



    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src='js/bootstrap.js'></script>
  </div>
  <div>
    <%= yield %>
  </div>
  </body>
</html>
