<form action="/robots" method="post">
  <p>Enter a new robot:</p>
    <dl>
      <dt><label for="robot.name">Name: </label></dt>
      <input type='text' name="robot[name]"<br/>
      <dt><label for="robot.city">City: </label></dt>
      <input type='text' name="robot[city]"><br/>
      <dt><label for="robot.state">State: </label></dt>
      <input type='text' name="robot[state]"<br/>
      <dt><label for="robot.department">Department: </label></dt>
      <input type='text' name="robot[department]"><br/>
    </dl>
  <input type="submit"/>
</form>
